Repository JoelvanIngen/Competitive-Green-Coding, pull requests merged in 2025-06, with the labels that each got.

#80 refactor: split tests into unit and integration, adapt workflow
  .github/workflows/python-app.yml
  db/requirements.txt
  db/tests/db_insert_test.py
  db/tests/integration/__init__.py
  db/tests/integration/test_dummy.py
  db/tests/unit/__init__.py
  db/tests/unit/test_dummy.py
  execution_engine/tests/integration/__init__.py
  execution_engine/tests/integration/test_dummy.py
  execution_engine/tests/unit/__init__.py
  execution_engine/tests/unit/test_dummy.py
  server/tests/integration/__init__.py
  server/tests/integration/test_dummy.py
  server/tests/unit/__init__.py
  server/tests/unit/test_dummy.py
Labels: style, tests

#82 #81: add AdminPage with problem submission form and submitted problem…
  frontend/app/admin/page.tsx
Labels: frontend

#72 Back end leaderboard functionalities
  db/requirements.txt
  db/src/db/api/endpoints.py
  db/src/db/models/schemas.py
  db/tests/db_leaderboard_tests.py
  db/tests/users.txt
  server/src/server/api/endpoints.py
Labels: db-handler

#99 Refactor and unit test db-handler
  db/requirements.ci.txt
  db/src/db/__init__.py
  db/src/db/api/endpoints.py
  db/src/db/api/modules/actions.py
  db/src/db/api/modules/hasher.py
  db/src/db/api/modules/jwt_handler.py
  db/src/db/auth/__init__.py
  db/src/db/auth/jwt_converter.py
  db/src/db/auth/jwt_handler.py
  db/src/db/auth/password.py
  db/src/db/config.py
  db/src/db/custom_typing/__init__.py
  db/src/db/custom_typing/types.py
  db/src/db/engine/__init__.py
  db/src/db/engine/builder.py
  db/src/db/engine/ops.py
  db/src/db/engine/queries.py
  db/src/db/main.py
  db/src/db/models/convert.py
  db/src/db/models/db_schemas.py
  db/src/db/models/schemas.py
  db/src/db/storage/__init__.py
  db/tests/unit/engine/__init__.py
  db/tests/unit/engine/test_queries.py
  execution_engine/requirements.ci.txt
  server/requirements.ci.txt
Labels: db-handler, style, tests

#266 251 opt out functionality leaderboards refactor
  common_python_modules/common/schemas.py
  common_python_modules/common/typing.py
  db/src/db/api/modules/actions.py
  db/src/db/engine/ops.py
  db/src/db/engine/queries.py
  db/src/db/models/convert.py
  db/src/db/models/db_schemas.py
  db/tests/unit/api/modules/test_actions.py
  db/tests/unit/engine/test_ops.py
  db/tests/unit/engine/test_queries.py
Labels: backend-interface, db-engine
